##### Câu 1:

* a. Lập trình hướng đối tượng:

In [27]:
# Định nghĩa lớp cha NhanVien
class NhanVien:
    def __init__(self, ma_nv, luong_cb):
        self.__ma_nv = ma_nv        # thuộc tính private
        self.__luong_cb = luong_cb  # thuộc tính private

# 1. Phương thức tính lương
    def tinh_luong(self):
        return self.__luong_cb

    def get_ma_nv(self):
        return self.__ma_nv

    def get_luong_cb(self):
        return self.__luong_cb

# 2. Xây dựng 2 lớp con kế thừa từ lớp NhanVien và ghi đè phương thức tinh_luong():
# Lớp con: Nhân viên tăng ca
class NhanVienTangCa(NhanVien):
    def tinh_luong(self):
        return self.get_luong_cb() * 1.2

# Lớp con: NhanVienChuyenChuyen
class NhanVienChuyenChuyen(NhanVien):
    def tinh_luong(self):
        return self.get_luong_cb() + 500000

# 3.Chương trình chính
if __name__ == "__main__":
    danh_sach_nv = [
        NhanVien("NV01", 10000000),
        NhanVienTangCa("NV02", 10000000),
        NhanVienChuyenChuyen("NV03", 10000000)
    ]

    for nv in danh_sach_nv:
        print("Mã NV:", nv.get_ma_nv(), "- Lương:", nv.tinh_luong())

Mã NV: NV01 - Lương: 10000000
Mã NV: NV02 - Lương: 12000000.0
Mã NV: NV03 - Lương: 10500000

* b. NumPy – Xử lý mảng:

In [28]:
import numpy as np

# 1. Chuyển danh sách ban đầu và chuyển thành mảng NumPy (None -> NaN)
san_luong = [12, None, 8, 15, None, 10]
arr = np.array(san_luong, dtype=float)

# Reshape thành mảng 2x3
arr = arr.reshape(2, 3)

# Tính giá trị trung bình của toàn bộ mảng (bỏ qua NaN)
gia_tri_tb = np.nanmean(arr)
print("Giá trị trung bình (bỏ qua NaN):", gia_tri_tb)  # 11.25

# Thay thế các giá trị NaN bằng giá trị trung bình
arr = np.nan_to_num(arr, nan=gia_tri_tb)

print("\nMảng sau khi reshape và thay thế NaN:")
print(arr)

# 2. Trích xuất các phần tử > 9
lon_hon_9 = arr[arr > 9]

print("\nCác phần tử có giá trị > 9:", lon_hon_9)

# Tìm giá trị nhỏ nhất trong các phần tử vừa trích xuất
gia_tri_nho_nhat = lon_hon_9.min()
print("Giá trị nhỏ nhất trong các phần tử > 9:", gia_tri_nho_nhat)

Giá trị trung bình (bỏ qua NaN): 11.25

Mảng sau khi reshape và thay thế NaN:
[[12.   11.25  8.  ]
 [15.   11.25 10.  ]]

Các phần tử có giá trị > 9: [12.   11.25 15.   11.25 10.  ]
Giá trị nhỏ nhất trong các phần tử > 9: 10.0

##### Câu 2:

* a. Lọc dữ liệu:

In [29]:
# Đọc file csv
import pandas as pd

df=pd.read_csv("DATA/nhan_su.csv")
df.head()

   Ma_NV  Phong_Ban  Thanh_Tich  Nam_Cong_Tac
0  NS001  KinhDoanh        85.0          2021
1  ns002  KinhDoanh         NaN          2022
2  NS003     NhanSu        90.0          2023
3  NV004     NhanSu        70.0          2020
4  NS005    KyThuat        88.0          2021

In [30]:
# Chuyển đổi kiểu dữ liệu phù hợp
df['Thanh_Tich'] = pd.to_numeric(df['Thanh_Tich'], errors='coerce')  # trống -> NaN
df['Nam_Cong_Tac'] = pd.to_numeric(df['Nam_Cong_Tac'], errors='coerce')

# Lọc: Ma_NV chứa "NS" (không phân biệt hoa/thường) và giữ lại các nhân viên có Nam_Cong_Tac >= 2021
df_filtered = df[df['Ma_NV'].str.contains('NS', case=False, na=False)]
df_filtered = df_filtered[df_filtered['Nam_Cong_Tac'] >= 2021]

print("Dữ liệu sau khi lọc:")
print(df_filtered)
print("\nSố bản ghi sau lọc:", len(df_filtered))

Dữ liệu sau khi lọc:
    Ma_NV  Phong_Ban  Thanh_Tich  Nam_Cong_Tac
0   NS001  KinhDoanh        85.0          2021
1   ns002  KinhDoanh         NaN          2022
2   NS003     NhanSu        90.0          2023
4   NS005    KyThuat        88.0          2021
5   ns006    KyThuat         NaN          2024
6   NS007  KinhDoanh        95.0          2023
8   NS009     NhanSu         NaN          2022
9   NS010    KyThuat        92.0          2024
10  NS011  KinhDoanh        80.0          2021

Số bản ghi sau lọc: 9

* b. Làm sạch dữ liệu:

In [31]:
# Điền giá trị thiếu Thanh_Tich bằng trung bình của dữ liệu đã lọc
mean_thanh_tich = df_filtered['Thanh_Tich'].mean()
df_clean = df_filtered.copy()
df_clean['Thanh_Tich'] = df_clean['Thanh_Tich'].fillna(mean_thanh_tich)

print("\nTrung bình Thanh_Tich (dùng để fill):", round(mean_thanh_tich, 2))
print("Dữ liệu sau khi làm sạch:")
print(df_clean)

Trung bình Thanh_Tich (dùng để fill): 88.33
Dữ liệu sau khi làm sạch:
    Ma_NV  Phong_Ban  Thanh_Tich  Nam_Cong_Tac
0   NS001  KinhDoanh   85.000000          2021
1   ns002  KinhDoanh   88.333333          2022
2   NS003     NhanSu   90.000000          2023
4   NS005    KyThuat   88.000000          2021
5   ns006    KyThuat   88.333333          2024
6   NS007  KinhDoanh   95.000000          2023
8   NS009     NhanSu   88.333333          2022
9   NS010    KyThuat   92.000000          2024
10  NS011  KinhDoanh   80.000000          2021

* c. Tổng hợp dữ liệu (Groupby):

In [32]:
tong_thanh_tich = df_clean.groupby('Phong_Ban')['Thanh_Tich'].sum().round(2)
print("\nTổng điểm Thanh_Tich theo từng Phong_Ban:")
print(tong_thanh_tich)

Tổng điểm Thanh_Tich theo từng Phong_Ban:
Phong_Ban
KinhDoanh    348.33
KyThuat      268.33
NhanSu       178.33
Name: Thanh_Tich, dtype: float64

* d. Pivot Table:

In [33]:
pivot_table = pd.pivot_table(
    df_clean,
    values='Thanh_Tich',
    index='Phong_Ban',
    columns='Nam_Cong_Tac',
    aggfunc='sum',
    fill_value=0
).round(2)

print("\nBảng Pivot:")
print(pivot_table)

Bảng Pivot:
Nam_Cong_Tac   2021   2022  2023    2024
Phong_Ban
KinhDoanh     165.0  88.33  95.0    0.00
KyThuat        88.0   0.00   0.0  180.33
NhanSu          0.0  88.33  90.0    0.00

* e. Lưu trữ và Truy vấn:

In [34]:
import sqlite3  
import pandas as pd

conn = sqlite3.connect('HeThong.db')

# Lưu pivot_table vào bảng bang_luong_2024 (index là Phong_Ban)
pivot_table.to_sql('bang_luong_2024', conn, if_exists='replace', index=True)

# Truy vấn 5 dòng đầu tiên (toàn bộ vì chỉ có 3 dòng)
query = "SELECT * FROM bang_luong_2024 LIMIT 5;"
ket_qua = pd.read_sql_query(query, conn)
print("\n5 dòng đầu tiên của bảng bang_luong_2024 trong HeThong.db:")
print(ket_qua)

conn.close()

5 dòng đầu tiên của bảng bang_luong_2024 trong HeThong.db:
   Phong_Ban   2021   2022  2023    2024
0  KinhDoanh  165.0  88.33  95.0    0.00
1    KyThuat   88.0   0.00   0.0  180.33
2     NhanSu    0.0  88.33  90.0    0.00

* Lưu kết quả:

In [35]:
import pandas as pd
import sqlite3
import os
os.makedirs('output', exist_ok=True)

df_clean.to_csv('output/du_lieu_sau_loc_va_lam_sach.csv', index=False)
tong_thanh_tich.to_csv('output/tong_thanh_tich_theo_phong_ban.csv')
pivot_table.to_csv('output/bang_luong.csv')